[ req ]
default_bits       = 2048
default_md         = sha256
prompt             = no
distinguished_name = dn
x509_extensions    = v3_req

[ dn ]
CN = headlamp-dev

[ v3_req ]
keyUsage         = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName   = @alt_names

[ alt_names ]
DNS.1 = headlamp.local
DNS.2 = assets
DNS.3 = favicon.ico
DNS.4 = favicon-32x32.png
DNS.5 = favicon-16x16.png
