# values-operator.yaml
replicaCount: 1

operatorImageRepository: percona/percona-xtradb-cluster-operator
imagePullPolicy: IfNotPresent

watchAllNamespaces: false

rbac:
  create: true

serviceAccount:
  create: true

resources:
  limits:
    cpu: 200m
    memory: 500Mi
  requests:
    cpu: 100m
    memory: 100Mi

logLevel: "INFO"
disableTelemetry: false