operator:
  logLevel: info

image:
  pullPolicy: IfNotPresent

rbac:
  create: true

serviceAccount:
  create: true

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi